

.box2, .box1{
    color: red;
    background-color: greenyellow;
    width:80%;
    margin: auto;
    border: 5px chocolate solid;
    border-radius: 16px;
}


.box2 :hover{
    color: greenyellow;
    background-color: blueviolet;
    width:80%;
    margin: auto;
    margin-top: 10px;
    border: 5px chocolate solid;
    border-radius: 15px;
}